.approval-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.approval-heading {
  text-align: center;
  color: #181414;
  margin-bottom: 20px;
}

.approval-list {
  list-style: none;
  padding: 0;
}

.approval-item {
  background-color: #f1e9e9;
  border: 1px solid #685959;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 18px;
}

.approve-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 500px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.approve-button:hover {
  background-color: #081f0a;
}